<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Let's play a game</span>
    </a>

    <ul class="nav nav-pills">
      <li (click)="connectWallet()" class="nav-item"><a href="#" class="nav-link">Connect Wallet</a></li>
    </ul>
  </header>
</div>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Feeling lucky?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Let's test your luck</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button (click)="connectWallet()" type="button" class="btn btn-primary btn-lg px-4 gap-3">Yes I am</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Not really</button>
    </div>
  </div>
</div> 
<div class="dropdown-center px-3 py-5 my-5 text-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Let's get started
  </button>
  <ul class="dropdown-menu">
    <li><button (click)="purchaseTokens" class="dropdown-item" href="#">Get some tokens</button></li>
    <li><button class="dropdown-item" href="#">Place a bet</button></li>
    <li><button class="dropdown-item" href="#">Place multiple bets</button></li>
  </ul>
</div>
<div>
  <hr style="width:50%;text-align:left;margin-left:0">
  <p><b>How many lottery tokens would you like?</b></p>
  <input #buyAmount type="number" min="10" [max]="100">
  <button (click)="purchaseTokens" type="button" class="btn btn-secondary bt-sm px-4 mx-2">Gimme</button>
</div>
<div *ngIf="wallet">
    <p class="lead mb-4">This is your address: {{walletAddress}}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
        <div class="card p-2 m-2">
        <p>Ether Balance: </p>
        <p>{{etherBalance}}</p>
    </div>
    <div class="card p-4 m-2">
        <p>Token Contract:</p>
        <p>{{lotteryTokenAddress}}</p>
    </div>
    <div class="card p-4 m-2">
        <p>Lottery Token Balance:</p>
         <p>{{lotteryTokenBalance}}</p>
    </div>
</div>
<h2>Betting info</h2>
<p>Lottery Contract: {{lotteryContract?.address}} </p>
</div>
