<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">
     Best Lottery App Ever!</h1> 
     <div class="col-lg-6 mx-auto"> 
      <div *ngIf="!wallet">
     <p class="lead mb-4">
         Choose a connection method to get started :)</p> 
         <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
 <button (click)="createWallet()" 
     type="button" 
     class="btn btn-primary btn-lg px-4 gap-3">
     Create a Wallet</button>

 <button (click)="connectWallet()" type="button" class="btn btn-success btn-lg px-4 gap-3">
     Connect a Wallet</button>
 
 </div>
     </div > 
     <div *ngIf="wallet">
         <p class="lead mb-4">This is your address: {{walletAddress}}</p>
         <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
             <div class="card p-2 m-2">
             <p>Ether Balance: </p>
             <p>{{etherBalance}}</p>
         </div>
         <div class="card p-4 m-2">
             <p>Token Contract:</p>
             <p>{{lotteryTokenAddress}}</p>
         </div>
         <div class="card p-4 m-2">
             <p>My Token Balance:</p>
              <p>{{lotteryTokenBalance}}</p>
         </div>
     </div>
     <h2>Voting Information</h2>
     <p>Lottery Contract: {{lotteryContract?.address}} </p>
 </div>
 <div><h3>Buy Tokens!</h3>
    <input #buyAmount type="number" min="10" [max]="" >
</div>
     </div>
 </div> 